.contacts {
  position: relative;
  z-index: 100;
  background-color: var(--footer-background);
  min-height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;

  &__wrapper {
    width: 80%;
    margin: 0 auto;
  }

  &__title {
    font-weight: 400;
  }

  &__socials {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 70%;
    margin: 0 auto;
  }

  &__item {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
  }

  &__label {
    font-size: 25px;
    text-decoration: none !important;
    color: var(--text-color) !important;
  }

  &__label:hover {
    color: #d9d8d8;
  }
}

// admin panel

.contacts_adm {
  width: 100%;

  &__wrapper {
    width: 80%;
    margin: 0 auto;
  }

  &__socials {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__itemAdm {
    margin: 3rem 0;
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--footer-background);
  }

  &__inp {
    color: var(--text-color) !important;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    img {
      width: 20%;
    }

    label {
      color: var(--text-color) !important;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
  }

  &__inp {
    background: none;
    outline: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    margin-left: 1rem;
    width: 100%;
  }

  
}

@media (max-width: 667px) {
  .contacts {
    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
    }

    &__socials {
      width: 100%;
    }

    &__label {
      font-size: 18px;
    }
  }

  // admin panel 
  .contacts_adm {
    &__itemAdm {
      flex-direction: column;
    }

    &__inp {
      width: 100%;
    }

    &__actions {
      padding: 0;
      flex-direction: row;
      gap: 0.5rem;
      margin-top: 1rem;
    }
  }
}
