.hero {
  position: relative;
  z-index: 100;
  font-family: 'Roboto',serif;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 6rem 0;
  width: 100%;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    width: 80%;
  }

  &__intro {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__avatar {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
  }

  &__name {
    font-size: 27px;
    font-weight: 500;
  }

  &__text {
    max-width: 500px;
    color: var(--text-color);
  }

  // admin panel 
  &_adm {
    font-family: 'Roboto',serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &__actives {
      display: flex;
      align-items: center;
      justify-content: start;
      width: 100%;
    }
  }
  &__photo {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    padding-top: 6rem;
  }
  &__intro_adm {
    width: 70%;
  }
  &__text_adm {
    height: 300px;
    width: 100%;
  }
}

@media (max-width: 667px) {
  .hero {
    margin: 3rem 0;

    &__wrapper {
      flex-direction: column;
      gap: 2rem;
      width: 90%;
    }

    &__avatar {
      min-width: 130px;
      min-height: 130px;
    }

    &__intro {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__text {
      text-align: center;
      font-size: 15px;
      width: 90%;
    }
  }
}

@media (max-width: 1024px) {
  .hero {
    &__wrapper {
      gap: 1rem;
    }
  }
}
