.newExp {
  background-color: var(--text-color);
  border-radius: 10px;
  padding: 1rem;
  color: var(--background-color);

  &__container {
    display: flex;
    flex-direction: column;
    gap:1rem;
  }

  input {
    margin-left: 1rem;
    font-size: 18px;
  }

  label {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
  }

  label p {
    padding: 0;
    margin: 0;
    margin-left: 1rem;
    font-weight: 500;
    font-size: 18px;
    color: var(--background-color) !important;
  }

  h1 {
    color: var(--background-color) !important;
    font-size: 28px;
    font-weight: 600;
  }


  &__name {
    border: none;
    border-bottom: 1px solid black;
    background: none;
    outline: none;
    color: var(--background-color);
  }

  &__buttons {
    display: flex;
    width: 100%;
    gap: 1rem;
  }

  button {
    background-color: var(--footer-background);
    width: 100px;
    padding: 5px 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}