.hamburgerWrapper {
  display: none;
}

header {
  position: relative;
  z-index: 100;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }

  .header__logo {
    font-weight: 400;
    font-size: 25px;
    cursor: pointer;
  }

  .header__list {
    display: flex;
    align-items: end;
  }

  .header__list_item {
    color: var(--text-color);
    margin: 12px;
    font-size: 17px;
    cursor: pointer;
    text-decoration: none !important;
  }

  .header__list_item:hover {
    color: #7189c3;
    transition: 0.4s;
  }
}

@media (max-width: 768px) {
  header {
    .header__nav {
      position: absolute;
      top: -2rem;
      right: 0;
      background-color: var(--footer-background);
      opacity: 90%;
      height: 70vh;
      width: 100%;
      transition: transform 0.3s ease-in-out;

      ul {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 1rem;
      }

      li a {
        font-size: 24px;
      }
    }

    .header__open {
      transform: translateX(0); 
    }

    .header__close {
      transform: translateX(100%); 
    }

    .hamburgerWrapper {
      display: flex;
    }

    .header__list {
      flex-direction: column;
    }
    // .header__open {
    //   top: 0;
    //   right: 0;
    //   transition: 1s;
    // }

    // .header__close {
    //   top: 0;
    //   left: 100%;
    // }

    // .header__nav {
    //   position: absolute;
    //   background-color: var(--footer-background);
    //   height: 100vh;
    //   width: 90%;
    //   ul {
    //     margin-top: 2rem;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: start;
    //     gap: 1rem;
    //   }

    //   li a {
    //     font-size: 24px;
    //   }
    // }

    // .header__humberger {
    //   display: block;
    // }
  }

  .hamburgerWrapper {
    display: flex;
    position: absolute;
    z-index: 1;
    right: 2rem;
  }
}
