header {
  position: relative;
  z-index: 100;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }
  
  .header__logo {
    font-weight: 400;
    font-size: 25px;
    cursor: pointer;
  }

  .header__list {
    display: flex;
    align-items: end;
  }

  .header__list_item {
    color: var(--text-color);
    margin: 12px;
    font-size: 17px;
    cursor: pointer;
    text-decoration: none !important;
  }

  .header__list_item:hover {
    color: #7189c3;
    transition: 0.4s;
  }
}


@media (max-width: 785px) {
  header {
    .wrapper {
      justify-content: start;
    }

    nav {
      display: none;
    }
  }
}



