.about {
  position: relative;
  z-index: 100;
  font-family: 'Roboto',serif;
  width: 100%;
  display: flex;
  justify-content: center;

  &__info {
    background-color: rgba(12,12,12, 0.6);    
    width: 80%;
    min-height: 500px;
    padding: 0 50px;
    border-radius: 10px;
  }

  &__title {
    font-weight: 400;
    color: white;
    margin: 2rem 0 1rem 0;
  }
}

@media (max-width: 667px) {
  .about {

    &__info {
      width: 90%;
    }
  }
}