.container {
  position: relative;
  z-index: 100;
  display: flex;
  margin: 0 auto;
  width: 85%;
  margin-top: 5rem;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 3rem;
  }
}