.exps {
  margin: 0 auto;
  width: 50%;

  h1 {
    margin-bottom: 2rem;
  }

  &__experinces {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__exp_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--text-color);
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 1rem;
  }

  &__title {
    color: var(--footer-background);
    display: flex;
    flex-direction: column;
  }

  &__name {
    padding-left: 1rem;
    font-weight: 400;
    margin: 0;
    color: var(--footer-background);
  }

  &__title h3 {
    font-weight: 400;
    margin: 0;
  }

  &__date {
    color: var(--secondary-color);
    margin: 0;
    margin-left: 1rem;
  }

  &__positions {
    margin: 0.7rem;
  }
}

@media (max-width: 768px) {
  .exps {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}