.label {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 20px;
  font-weight: 500;
  margin: 0.5rem 0;
  padding: 0;
  width: 100%;

  input {
    border-bottom: 1px solid white;
    margin: 0.6rem 0;
  }

  &__name {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    width: auto;
  }

  &__span {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    color: rgb(255 255 255);
    text-align: center;
    border-radius: 4px;
    background-color: #419152;
    line-height: 22px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
  }
}

.inputText {
  margin-left: 1rem;
  font-size: 18px;
  background: none;
  border: none;
  outline: none;
  width: 60%;
  max-width: 100%;
  box-sizing: border-box;
}

.inputFile {
  font-size: 1rem;
  flex-wrap: wrap;
  width: auto;

  &::file-selector-button {
    background: #419152;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background: #367a45;
    }
  }
}

.inputNumber {
  font-size: 18px;
  background: none;
  border: none;
  outline: none;
  width: 15%;
  max-width: 100%;
  box-sizing: border-box;
}

@media (max-width: 414px) {
  .label {
    width: 100%;
    justify-content: space-between;
  }
}

@media (max-width: 667px) {
  .label {
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;

    input {
      width: 80%;
      border: 1px solid white;
      border-radius: 5px;
      font-size: 18px;
      padding: 0.3rem;
    }

    &__name {
      font-size: 14px;
    }
  }

  .inputText {
    margin: 0;
  }

  .inputFile {
    background-color: #419152;
    padding: 8px 16px;
    border-radius: 4px;
    width: 40%;
    color: white;
    &::file-selector-button {
      display: none;
    }
  }
}
