.bookList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.carousel :global(.carousel-indicators) {
  position: relative;  /* убираем absolute */
  top: 20rem;
  justify-content: center; /* выравнивание по центру */
}
