@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+15&family=Kaushan+Script&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Pacifico&family=Playwrite+MX+Guides&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  font-family: 'outfit', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: #04152D;
  --text-color: #ffff;
  --secondary-color: #404040;
  --footer-background: #19376D;

  position: relative;
  background-color: var(--background-color);
  background-repeat: no-repeat;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}


/* Отдельный контейнер для декора */
.decor {
  position: fixed;
  inset: 0;             /* растягиваем на весь экран */
  pointer-events: none; /* чтобы не мешал кликам */
  z-index: -1;          /* за контентом */
  overflow: hidden;     /* ничего лишнего не выползает */
}

/* Сами кружочки */
.decor::before,
.decor::after {
  content: '';
  width: 500px;
  height: 500px;
  position: absolute;
  background: radial-gradient(circle, rgba(79, 97, 130, 0.6) 0%, rgba(4, 21, 45, 0) 70%);
}

/* Один кружок слева */
.decor::before {
  top: -30%;
  left: 10%;
  transform: translateX(-50%); /* половина за экраном */
}

/* Второй кружок справа */
.decor::after {
  bottom: -20%;
  right: 0;
  transform: translateX(50%);
}

.success-message {
  color: rgb(45, 150, 21);
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  background: none;
  margin: 0 auto;
}


.save-btn {
  cursor: pointer;
  padding: 0.5rem;
  background-color: rgb(90, 122, 226);
  border: none;
  border-radius: 10px;
  width: 100px;
  margin: 1rem 0;
}

.textarea {
  display: block;
  width: 100%;
  height: 300px; 
  padding: 1rem;
  background-color: var(--background-color);
}

.input {
  padding: 1rem;
}

.back {
  margin: 1rem 2rem;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 200;
  cursor: pointer;
}