@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+15&family=Kaushan+Script&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Pacifico&family=Playwrite+MX+Guides&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  font-family: 'outfit', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: #04152D;
  --text-color: #ffff;
  --secondary-color: #404040;
  --footer-background: #19376D;

  position: relative;
  background-color: var(--background-color);
  background-repeat: no-repeat;
  
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}


* {
  list-style-type: none;
  text-decoration: none;
}



:root::before,
:root::after {
  content: '';
  width: 500px;
  height: 500px;
  position: absolute;
  background: radial-gradient(circle, rgba(54, 78, 122, 0.6) 0%, rgba(4, 21, 45, 0) 70%);
  pointer-events: none;
}

:root::after {
  top: -210px; 
  left: -210px;
}

:root::before {
  top: 100px;
  right: -250px;
  width: 500px;  /* можно другой размер */
  height: 500px;
}


