.admin {
  h1 {
    margin: 2rem 1rem;
  }
  h4 {
    margin: 2rem 2rem;
  }
  &__nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    border: 1px solid black;
    margin-top: 2rem;
    padding-left: 3rem;
    font-size: 25px;
  }
}

@media (max-width: 667px) {
  .admin {
    &__nav {
      flex-direction: column;
      font-size: 20px;
      gap: 1rem;
    }
  }
}