.carousel {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  :global(.carousel-control-prev),
  :global(.carousel-control-next) {
    filter: brightness(0) invert(1);
    width: auto; 
    top: 50%;
    transform: translateY(-50%);
  }

  :global(.carousel-control-prev) {
    left: -50px; 
  }

  :global(.carousel-control-next) {
    right: -50px; 
  }

  :global(.carousel-control-prev-icon),
  :global(.carousel-control-next-icon) {
    filter: invert(1);
    width: 50px;
    height: 50px;
  }

  :global(.carousel-item) {
    text-align: center;
    background: var(--footer-background);
    color: #fff;
    padding: 40px 20px;
    width: 100%;
  }

  :global(.carousel-caption) {
    border-radius: 8px;
    padding: 15px;
  }

  :global(.carousel-indicators [data-bs-target]) {
    background-color: #fff;
  }

  :global(.carousel-control-prev-icon),
  :global(.carousel-control-next-icon) {
    filter: invert(1);
  }
}

.slideContent {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
  padding: 1rem;

  h1 {
    font-size: 2rem;
    margin: 0;
  }

  p {
    font-size: 1rem;
    max-width: 80%;
    text-align: start;
  }

  &__darkImage {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      position: absolute;
      z-index: 2;
      text-align: center;
      color: var(--text-color);
    }
  }

  &__darkImage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); // прозрачный чёрный
    z-index: 1;
  }

  img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
  }

  &__date {
    color: var(--link-color);
  }
}
